<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <h3>
    Scan the following QR code
  </h3>
  <img [src]="secret" style="padding: 10px">
  <form [formGroup]="verifyTokenForm">
    <div>
      Type a TOTP token below for verification
    </div>
    <br>
    <div>
      <input type="text" name="user" placeholder="Type token..." formControlName="token">
    </div>
    <br>
    <div>
      <button (click)="verifyToken()">VERIFY</button>
    </div>
  </form>
  <br>
  <div>
    <label>{{responseVerify}}</label>
  </div>
</div>


